Source: dumbster
Section: java
Priority: extra
Maintainer: Stefan Denker <Stefan+Debian@dn-kr.de>
Build-Depends: cdbs, debhelper (>= 7.0.50~)
Build-Depends-Indep: 
   default-jdk
 , libgnumail-java
 , junit
 , ant
 , ant-optional
Standards-Version: 3.9.2
Homepage: http://quintanasoft.com/dumbster/

Package: libdumbster-java
Architecture: all
Depends: ${shlibs:Depends}
 , ${misc:Depends}
 , libgnumail-java
Suggests: junit
Description: very simple fake SMTP Server for testing purposes
 The Dumbster is a very simple fake SMTP server designed for unit and
 system testing applications that send email messages. It responds to all
 standard SMTP commands but does not deliver messages to the user. The
 messages are stored within the Dumbster for later extraction and
 verification.
 .
 The Dumbster slots itself very easily into your testing strategy. As long
 as your application talks to an email server using SMTP then the Dumbster
 can be used to test the application with no code changes
